@model PartialViewModel

<p>
  @Model.Title
</p>

@* partial klasörümüz views shared altında tanımlanır ve partial isimlendirmede _ ile başlamak yaygın bir kullanımdır. Partial viewlerin suffix son takısı Partial yazmak yaygın bir kullanımdır.  *@
